#bg {
  margin: 100px auto;
  width: 750px;
  height: 312px;
  background-image: url("../img/bg.jpg");
  position: relative; }
  #bg #content {
    position: absolute;
    width: 400px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    top: 45px;
    left: 175px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 3px 3px 5px #888888;
    -moz-box-shadow: 3px 3px 5px #888888;
    box-shadow: 3px 3px 5px #888888; }
